*
{
    margin: 0px;
    padding: 0px;
    background: black;
}
.cointainer
{
    height: 1000px;
}
.main-nav
{
    position: relative;
     float: right;
     list-style: none;
     top: -50px;
    
}
.main-nav li{
    display: inline-block;
}
.main-nav li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 3px;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: "Roboto",sans-serif;
}
.join
{
    position: relative;
    background: red;
    border-radius: 3px;
    border-color: red;
    margin-right: 10px;
}
.sign
{
    border: 1px solid #666;
}
.logo img{
    position: relative;
    padding-left: 7px;
    padding-top: 7px;
    height: 60px;
    width: 60px;
    border-color: black;
}
/*.sticky
{
    position: fixed;
    top: 0px;
    width: 100%;
    color: #fff;
    background: #333;
}*/
.a1{
    display: block;
}
.a1 img
{
    position: relative;
    width: 100%;
    height: auto;
    top: -20px;
}
.content
{
    margin-left: 20px;
    margin-right: 20px;
}
.content p
{
    position: relative;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    top: 30px;
}
.content .formed
{
    position: relative;
    font-size: 10px;
    font-weight: normal;
    color: #808080;
    text-transform: none;
}
.content .Intro
{
    position: relative;
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
}
.content .join_us
{
    position: relative;
    font-size: 12px;
    text-transform: none;
    font-weight: normal;
    margin-bottom: 20px;   
}
.content .join_us span{
    color: #808080;
}
.content .link
{
    position: relative;
    background: #393939;
    top: 20px;
    height: 80px;
}
.content .link img
{
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    height: 60px;
    width: 60px;
}
.content .link p
{
    position: relative;
    font-size: 15px;
    top: -60px;
    background: #393939;
    text-transform: none;
    font-weight: bold;
    margin-left: 90px;
}
.content .link a{
    position: relative;
    color: white;
    text-decoration: none;
    background: red;
    top: -65px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 3px;
    margin-left: 90px;
}
.video
{
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}
.video .video_title
{
    font-weight: normal;
    color: #808080;
    font-size: 15px;
    margin-top: 5px;
}
.video iframe
{
    margin-right: 20px;
    margin-top: 4px;
}