
*
{
    margin: 0px;
    padding: 0px;
    background: black;
}
.main{
    display: block;
    margin-top: 20%;
    text-align: center;
}
.main img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
}
.main p
{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 14px;
    font-size: 30px;
    text-align: center;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    
}
.main a
{
    position: relative;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    top: 20px;
    transition: 2s;
    
}
.main a:hover
{
    border: 1px solid white;
    background: darkorange;
    padding: 10px;
    transform: scale(1.1);
}
/*
@media only screen and(max-width: 700px)
{
    .main p 
    {
        position: relative;
        border-bottom: 1px solid white;
    }
}*/