
*
{
    margin: 0px;
    padding: 0px;
    background: black;
}
.main{
    display: block;
    margin-top: 60%;
    text-align: center;
}
.text1
{
    position: relative;
    background: black;
    letter-spacing: 8px;
    color: white;
    margin-bottom: 20px;
    animation: text 2s 1;
}
.text1 span
{
    color: #20B2AA;
    background: black;
    margin-bottom: 20px;
    animation: text 2s 1;
}
.text2
{
    color: green;
    letter-spacing: 4px;
    text-decoration: none;
}

@keyframes text
{
    0%
    {
        color: black;
        margin-bottom: -20px;
    }
   30%
    {
        color: black;
        letter-spacing: 13px;
        margin-bottom: -20px;
    }
    85%
    {
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
}
   
